anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
cffi
click
colorama
debugpy
decorator
defusedxml
entrypoints
executing
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
minio
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pickleshare
plotly
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
scikit-learn
scipy
Send2Trash
six
sklearn
sniffio
soupsieve
stack-data
tenacity
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
wcwidth
webencodings
websocket-client
widgetsnbextension